body
{
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;

}

.showcase{
    height: 50%;
    flex-direction: column;
    padding: 10px;
    display: flex;
    align-items: flex-start;

}


